@import "compass/typography/vertical_rhythm";
@import "compass/css3";

$awesome-max-width: 1200px !default;
$awesome-float-direction: left !default;
$awesome-column-count: 1 !default;
$awesome-gutter-width: 15px !default;
$awesome-legacy-support: false !default;
@mixin awesome-border-box {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    @if $awesome-legacy-support == true {
      *behavior: url(/polyfills/box-sizing-polyfill/boxsizing.htc)
    }
  }
}
// Calculate size of grid box
@function awesome-grid-box-size( $column-span: 1, $gutter-width:$awesome-gutter-width ) {
  $column-width: 0;
  @if $awesome-column-count == 1 {
    $column-width: 100%;
  }
  @else {
      $column-width: percentage($column-span/$awesome-column-count);
  }
  @return $column-width
}
@function awesome-gutter-width($gutter-width: $awesome-gutter-width){
  $gutter-width: percentage($gutter-width/$awesome-max-width);
  @return $gutter-width / 2;
}
@mixin clearfix {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin awesome-grid-container( $top-bottom-padding: 0, $left-right-padding: auto) {
  max-width: $awesome-max-width;
  margin: $top-bottom-padding $left-right-padding;
  overflow: hidden;
  display: block;
  text-align: $awesome-float-direction;
  position: relative;
  @include clearfix;
}

@mixin awesome-nested-grid-container(){
  padding: {
    left: 0;
    right: 0;
  }
}

@mixin awesome-grid-item( $column-span, $column-position, $float: $awesome-float-direction ) {
  display: block;
  float: $float;
  @include _awesome_grid_padding();
  @include _awesome_grid_width($column-span, $column-position );
}

@mixin _awesome_grid_width( $column-span, $column-position ) {
    width: awesome-grid-box-size($column-span);
}

@mixin _awesome_grid_padding() {
      padding-left: awesome-gutter-width();
      padding-right: awesome-gutter-width();
}

@function awesome-direction-flip ( $dir ) {
  @if $dir == left {
    @return right;
  }
  @else if $dir == right {
    @return left;
  }
  @else if $dir == none or $dir == both {
    @return $dir;
  }
  @warn "Invalid direction passed to zen-direction-flip().";
  @return both;
}

@mixin awesome-pull($distance) {
  @if $awesome-column-count > 1 {
    margin-left: -1 * awesome-grid-box-size($distance);
  }
}

@mixin awesome-push($distance) {
  @if $awesome-column-count > 1 {
    margin-left:  awesome-grid-box-size($distance);
  }
}
@include awesome-border-box();
